h1 {
    color: rgb(9, 126, 204);
    font-family: cursive;
}
h2{
    color:rgb(234, 83, 53);
    font-family: cursive;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}